/*Reseteo*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


:root {
    --color-fondo: #f8f9fa;
    --color-texto: #212529;
    --color-primario: #2d6a4f;
    /* para header, footer */
    --color-secundario: #d8e2dc;
    --color-acento: #e67e22;
    /* para botones */
    --color-blanco: #ffffff;
    /* para texto sobre fondos oscuros */

    --fuente-principal: 'Google Sans', sans-serif;
    --fuente-titulos: 'Fauna One', serif;
}

body {
    font-family: var(--fuente-principal);
    font-size: 1rem;
    background-color: var(--color-fondo);
    color: var(--color-texto);
    margin: 0 auto;
}


/*tipografia, titulos */
p {
    margin-bottom: 1rem;
}

h1 {
    font-size: 2.4rem;
    color: var(--color-blanco);
    margin-bottom: 1rem;
}

h2 {
    font-size: 1.9rem;
    color: var(--color-primario);
    margin: 1.5rem 0;
}

h3 {
    font-size: 1.3rem;
    color: var(--color-acento);
    margin-bottom: 0.5rem;
}

main {
    padding: 2rem 0;
    background-color: var(--color-blanco);
}


/*ESTRUCTURA SEMANTICA*/

section {
    padding: 1.5rem;
}

article {
    background-color: var(--color-blanco);
    padding: 1.5rem;
    margin-bottom: 2rem;
    border-radius: 0.5rem;
}

/* Info.  de complemento */
aside {
    background-color: var(--color-secundario);
    padding: 1.25rem;
    margin-top: 1.5rem;
    border-left: 0.31rem solid var(--color-primario);
    /* Una barrita verde al costado */
    font-style: italic;
}

/* Lista ordenada(mision, valores, ...) y componentes(ej:img)*/
ol {
    margin: 1.25rem 0 1.25rem 2.5rem;
    /* Margen a la izquierda para que se vean los números */
    color: var(--color-texto);
}

ol li {
    margin-bottom: 0.62rem;
    /* Espaciado entre cada ítem de la lista */
    padding-left: 0.5rem;
}

/* Estilo para la lista de descripción (Estructura Organizativa) */
dl {
    margin: 1.5rem 0;
    padding: 1rem;
    background-color: var(--color-fondo);
    /* Un tono gris claro para resaltar */
    border-radius: 0.5rem;
}

dt {
    font-weight: bold;
    color: var(--color-primario);
    /* Verde para el nombre del equipo */
    font-size: 1.2rem;
    margin-top: 1rem;
}

dt::before {
    content: "🐾 ";
    /* emoji como una especie de "item" */
}

dd {
    margin-left: 2rem;
    margin-bottom: 1rem;
    font-style: italic;
    color: var(--color-texto);
}

hr {
    /* grosor y color verde */
    height: 0.125rem;
    background-color: var(--color-primario);

    /* margen para separar los contenidos(superior e inferior)*/
    margin: 2.5rem 0;

    /* acorto y centro el hr */
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

img {
    max-width: 100%;
    height: auto;
    border-radius: 0.5rem;
    display: block;
    margin: 1.5rem 0;
}

/*---- HEADER & FOOTER ----*/
#main-footer {
    margin-top: 3rem;
}


#main-header {
    background-color: var(--color-primario);
    color: var(--color-blanco);
    padding: 2rem;
}


/*MENU-NAVEGACION*/
#main-header {
    display: flex;
    justify-content: space-between;
    /*para que "logo/titulo" este a la par del menu de navegacion*/
}

#main-header h1 {
    margin: 0rem;
}

#main-nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

#main-nav ul {
    list-style: none;
    /*saca el item de lista */
    margin-top: 0rem;
    display: flex;
    gap: 1.5rem;
}

#main-nav ul li {
    display: inline-block;
    /*para poneros en fila(1-2-3-4...)*/

    /* Aplicamos el espaciado entre items */
    margin: 0 1rem;
}

#main-nav a {
    color: var(--color-blanco);
    text-decoration: none;
    font-weight: bold;
}

#main-nav a:hover {
    color: var(--color-acento);
}

/*Formulario */

/* REQUISITO: Inputs y textarea con borde su borde y su padding
   class .input-form (text, email, tel, textarea) */
fieldset {
    border: 1px solid var(--color-secundario);
    padding: 1.5rem;
    border-radius: 8px;
    margin-bottom: 1.5rem;
    background-color: var(--color-fondo);
}

legend {
    font-weight: bold;
    color: var(--color-primario);
    padding: 0 10px;
}

label {
    font-weight: 600;
    display: block;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
}

.input-form,
select {
    width: 100%;
    padding: 0.8rem;
    border: 1px solid #ccc;
    border-radius: 0.25rem;
    display: block;
    font-family: inherit;
    font-size: 1rem;
    transition: border-color 0.3s;
}


.form-footer {
    text-align: center;
    margin-top: 2rem;
}

.form-footer label {
    display: inline;
    /* Para que quede al lado del checkbox */
    font-weight: normal;
}

/* Botones */
.btn-input {
    background-color: var(--color-acento);
    color: var(--color-blanco);
    padding: 0.8rem 2rem;
    border: none;
    border-radius: 0.31rem;
    font-weight: bold;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s, transform 0.2s;
    margin: 0.5rem;
}

.btn-input:hover {
    background-color: #d35400;
    transform: scale(1.05);
}


/*FOOTER */

#main-footer {
    background-color: var(--color-primario);
    color: #ffffff;
    padding: 3rem 2rem 0 2rem;
}

.footer-separator {
    width: 100%;
    border-top: 1px solid var(--color-blanco);
    margin: 0 0 1rem 0;
}

/* contenedor de los sections */
.footer-columns {
    display: flex;
    flex-wrap: wrap;
    /* Para que en celulares se apilen una abajo de otra */
    justify-content: space-between;
    gap: 30px;
}


/* Cada columna adentro del contenedor */
.footer-columns section {
    flex: 1;
    min-width: 250px;
}

/* saco el margen y padding del titulo de horarios */
#horario h2 {
    margin: 0;
    padding: 0;
}

/* Estilos para textos y los enlaces */
#main-footer h2,
#main-footer h3 {
    color: var(--color-blanco);
    font-size: 1.2rem;
    margin-bottom: .9rem;
    border: none;
    font-family: var(--fuente-principal);
}

#main-footer p,
#main-footer dd {
    color: #cccccc;
    font-size: 0.95rem;
}

#main-footer ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#main-footer li {
    margin-bottom: 10px;
}

#main-footer dl {
    margin: 0;
    padding: 0;
    background-color: transparent;
    border: none;
}

#main-footer dt {
    font-weight: bold;
    margin-top: 10px;
    color: #ffffff;
}

#main-footer a {
    color: #3498db;
    text-decoration: none;
    transition: color 0.3s ease;
}

#main-footer a:hover {
    text-decoration: underline;
}

/* SECCIÓN COPYRIGHT:*/
.copyright {
    text-align: center;
    margin-top: .9rem;
    padding-top: .9rem;
    /* Espacio entre la línea gris y el texto */
    padding-bottom: .9rem;
    border-top: 1px solid var(--color-blanco);
}

.copyright p {
    color: var(--color-texto);
    font-size: .85rem;
    margin: 0;

}